body {
    background-image: linear-gradient(115deg, rgba(141, 51, 136, 0.8),rgba(204, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    font-size: 1.125rem;
    color: white;
    line-height: 1.2;
}

.container {
    background-color: rgba(27, 27, 50, 0.8);
    max-width: 750px;
    padding: 2.5rem;
    border-radius: 0.5%;
}

#title {
    margin-top: 30px;
}

.form-check-input {
    position: relative;
    min-height: 1rem;
    min-width: 1rem;
    margin-right: 0.3rem;
}